<h2 style="margin-bottom:0px;">Your Profile</h2>
<p class="text-muted" style="margin-bottom:20px;">
  Your profile information is listed below.
</p>
<form name="edit" ng-submit="edit.$valid && $ctrl.update()">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="$ctrl.user.first_name" placeholder="First Name" />
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="$ctrl.user.last_name" placeholder="Last Name" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" ng-model="$ctrl.user.email" placeholder="Email" />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" ng-model="$ctrl.user.password" placeholder="Change Password" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Update</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</form>
