<div class="container">
  <div class="row m-t-md">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
          <div class="form-group">
            <form class="form-horizontal" ng-submit="$ctrl.search()">
              <div class="input-group">
                <input type="search" name="search-text" id="search-text-field" placeholder="Search investors" class="form-control" ng-model="$ctrl.query" autocomplete="off" />
                <span class="input-group-btn">
                  <button name="button" type="submit" id="btnSearch" class="btn btn-ripple btn-primary has-ripple">Go</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Filter Investors
          <a href="" id="clear-filters" class="pull-right btn btn-xs btn-primary" ng-click="$ctrl.resetSearch()">Clear Filters</a>
        </div>
        <div class="panel-body">
          <form ng-submit="$ctrl.search()">
            <search-filters filters="$ctrl.filters" searchfn="$ctrl.search()"></search-filters>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-9 m-b-lg">
      <h1 style="margin-top:0;">Investors</h1>
      <hr style="margin-bottom:0;">
      <search-results class="row m-t-md" collection="$ctrl.results" type="investor" total-items="$ctrl.totalItems" current-page="currentPage" per-page="perPage"></search-results>
    </div>
  </div>
</div>
