<admin-overview entity="$ctrl.hub"></admin-overview>

<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="address">Address:</label>
          <input ng-model="$ctrl.hub.address" id="address" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact">Contact:</label>
          <input ng-model="$ctrl.hub.contact" id="contact" class="form-control" type="text">
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="founded">Founded:</label>
          <input ng-model="$ctrl.hub.founded" id="founded" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact_detail">Contact Detail:</label>
          <input ng-model="$ctrl.hub.contact_detail" id="contact_detail" class="form-control" type="text">
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    Office Locations
    <a ng-click="$ctrl.addOfficeLocation()" class="btn btn-primary btn-sm pull-right">Add Location</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.officeLocations.length == 0">
      <p>There are no office locations.</p>
    </div>
    <div ng-if="$ctrl.officeLocations.length > 0" ng-repeat="location in $ctrl.officeLocations track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Location
          <a ng-click="$ctrl.removeOfficeLocation(location)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="location-address">Address</label>
                <input type="text" ng-model="$ctrl.officeLocations[$index]" id="location-address" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Founders
    <a ng-click="$ctrl.addFounder()" class="btn btn-primary btn-sm pull-right">Add Founder</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.investor.founders.length == 0">
      <p>There are no founders.</p>
    </div>
    <div ng-if="$ctrl.investor.founders.length > 0" ng-repeat="founder in $ctrl.investor.founders track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Founder
          <a ng-click="$ctrl.removeFounder(founder)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="package-name">Name</label>
                <input type="text" ng-model="founder.name" id="founder-name" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="founder-linkedin">LinkedIn</label>
                <input type="text" ng-model="founder.linkedin" id="founder-linkedin" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Board Members
    <a ng-click="$ctrl.addBoardMember()" class="btn btn-primary btn-sm pull-right">Add Member</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.boardMembers.length == 0">
      <p>There are no board members.</p>
    </div>
    <div ng-if="$ctrl.boardMembers.length > 0" ng-repeat="member in $ctrl.boardMembers track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Board Member
          <a ng-click="$ctrl.removeBoardMember(member)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="member">Name</label>
                <input type="text" ng-model="$ctrl.boardMembers[$index]" id="member" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
