<admin-overview entity="$ctrl.hub"></admin-overview>

<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="address">Address:</label>
          <input ng-model="$ctrl.hub.address" id="address" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact">Contact:</label>
          <input ng-model="$ctrl.hub.contact" id="contact" class="form-control" type="text">
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="founded">Founded:</label>
          <input ng-model="$ctrl.hub.founded" id="founded" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact_detail">Contact Detail:</label>
          <input ng-model="$ctrl.hub.contact_detail" id="contact_detail" class="form-control" type="text">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tags</div>
  <div class="row">
    <tags-input ng-model="$ctrl.tags"
                add-on-enter="false"
                on-tag-added="$ctrl.addTag($tag)"
                on-tag-removed="$ctrl.removeTag($tag)"
                min-tags="1">
      <auto-complete source="$ctrl.queryTags($query)"></auto-complete>
    </tags-input>
    <span ng-show="create.newTag.$invalid" class="label label-danger">At least 1 tag is required.</span>
  </div>
</div>

<custom-fields entity="$ctrl.hub"></custom-fields>
