<div class="container">
  <profile-overview entity="$ctrl.multinational"></profile-overview>

  <div class="row">
    <dl id="details" class="col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-10">
      <div ng-show="$ctrl.multinational.headquarters">
        <dt>Headquarters:</dt>
        <dd>{{$ctrl.multinational.headquarters}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.emea_hq">
        <dt>EMEA HQ in Ireland:</dt>
        <dd>{{$ctrl.multinational.emea_hq ? 'Yes' : 'No'}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.local_office">
        <dt>Irish Office Location:</dt>
        <dd>{{$ctrl.multinational.local_office}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.employees">
        <dt>Employees in Ireland:</dt>
        <dd>{{$ctrl.multinational.employees}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.functions">
        <dt>Functions in Ireland:</dt>
        <dd>
          <span ng-repeat="functionCode in $ctrl.multinational.functions">
            {{functionCode | functionCodeToHuman}}{{$last ? ' ' : ','}}
          </span>
        </dd>
      </div>

      <div ng-show="$ctrl.multinational.events_space">
        <dt>Event space:</dt>
        <dd>{{$ctrl.multinational.events_space ? 'Yes' : 'No'}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.events_space_qualifiers">
        <dt>Event space qualifiers:</dt>
        <dd>{{$ctrl.multinational.events_space_qualifiers}}</dd>
      </div>

      <div ng-show="$ctrl.multinational.next_event">
        <dt>Next event:</dt>
        <dd>{{$ctrl.multinational.next_event}}</dd>
      </div>

    </dl>
  </div>

</div>

<div ng-show="$ctrl.multinational.startup_packages" class="startup-packages">
  <div class="container">
    <div class="row">
      <h2 class="col-md-2">Start Up Packages</h2>
      <div class="col-md-10 row">
        <div class="tile col-md-6" ng-repeat="package in $ctrl.multinational.startup_packages">
          <a href="{{package.link}}"><h3>{{package.name}}</h3></a>
          <p>{{package.description}}</p>
          <a ng-show="{{package.link}}" href="{{package.link}}">More &#155;</a>
        </div>
      </div>
    </div>
  </div>
</div>
