<div class="container">
  <profile-overview entity="$ctrl.multinational" entity-type="multinational"></profile-overview>
  <div class="block block-bordered-lg" style="padding-top:40px;padding-bottom:30px;">
    <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
      <blockquote class="pull-quote">
        <cite style="margin-top:0;">Insight</cite>
        <p style="margin-top:0px;font-size:26px;color:#e92a8b">
          Multinational Overview
        </p>
      </blockquote>
    </div>
  </div>
  <div id="details" class="row text-center">

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.headquarters">
      <div class="company-info-title">Headquarters</div>
      <div class="company-info-value">{{$ctrl.multinational.headquarters}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.emea_hq">
      <div class="company-info-title">European HQ in Ireland</div>
      <div class="company-info-value">{{$ctrl.multinational.emea_hq ? 'Yes' : 'No'}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.local_office">
      <div class="company-info-title">Irish Office Location</div>
      <div class="company-info-value">{{$ctrl.multinational.local_office}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.employees">
      <div class="company-info-title">Employees in Ireland</div>
      <div class="company-info-value">{{$ctrl.multinational.employees}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.functions.length > 0">
      <div class="company-info-title">Functions in Ireland</div>
      <div class="company-info-value">
        <span ng-repeat="functionCode in $ctrl.multinational.functions">
          {{functionCode | functionCodeToHuman}}{{$last ? ' ' : ','}}
        </span>
      </div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.events_space">
      <div class="company-info-title">Event space</div>
      <div class="company-info-value">{{$ctrl.multinational.events_space ? 'Yes' : 'No'}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.events_space_qualifiers">
      <div class="company-info-title">Event space qualifiers</div>
      <div class="company-info-value">{{$ctrl.multinational.events_space_qualifiers}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.multinational.next_event">
      <div class="company-info-title">Next event</div>
      <div class="company-info-value">{{$ctrl.multinational.next_event}}</div>
    </div>

  </div>
</div>

<div ng-show="$ctrl.multinational.lat && $ctrl.multinational.lng" class="portfolio">
  <div class="container">
    <div class="block block-bordered-lg" style="padding:40px 0;">
      <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
        <blockquote class="pull-quote">
          <cite style="margin-top:0;">Locations</cite>
          <p style="margin-top:0px;font-size:26px;color:#e92a8b">
            Map View
          </p>
        </blockquote>
      </div>
    </div>
    <div class="m-b-lg">
      <ng-map zoom-to-include-markers="auto" maximum-zoom="16">
        <marker id='ol{{$ctrl.multinational.id}}'
                position="[{{$ctrl.multinational.lat}}, {{$ctrl.multinational.lng}}]" />
      </ng-map>
    </div>
  </div>
</div>

<div ng-show="$ctrl.multinational.startup_packages" class="startup-packages">
  <div class="block block-bordered-lg" style="padding:40px 0;">
    <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
      <blockquote class="pull-quote">
        <cite style="margin-top:0;">Packages</cite>
        <p style="margin-top:0px;font-size:26px;color:#e92a8b">
          Start Up Packages
        </p>
      </blockquote>
    </div>
  </div>
  <div class="container">
    <div class="row m-b-md">
      <div class="col-md-12 row">
        <div class="tile col-md-6" ng-repeat="package in $ctrl.multinational.startup_packages">
          <a ng-href="{{package.link}}"><h3>{{package.name}}</h3></a>
          <p>{{package.description}}</p>
          <span ng-show="package.link"><a ng-href="{{package.link}}">More &#155;</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
