<div class="row">
  <div id="overview" class="col-lg-8">
    <div ng-show="$ctrl.multinational.logo" class="">
      <img ng-src="{{$ctrl.multinational.logo}}" class="logo img-responsive">
    </div>
    <label ng-show="$ctrl.multinational.name" for="name" class="col-xs-12">
      Name:
      <p id="name">{{$ctrl.multinational.name}}</p>
    </label>
    <label ng-show="$ctrl.multinational.short_description" for="short_description" class="col-xs-12">
      Tagline:
      <p id="short_description">{{$ctrl.multinational.short_description}}</p>
    </label>
    <label ng-show="$ctrl.multinational.long_description" for="long_description" class="col-xs-12">
      Description:
      <p id="long_description">{{$ctrl.multinational.long_description}}</p>
    </label>

  </div>
  <div class="col-lg-4 video-player"></div>
</div>

<div class="text-center">
  <a ng-show="$ctrl.multinational.facebook"
     href="http://www.facebook.com/{{$ctrl.multinational.facebook}}">
      <i class="fa fa-facebook-square fa-2x"></i>
  </a>
  <a ng-show="$ctrl.multinational.twitter"
     href="http://www.twitter.com/{{$ctrl.multinational.twitter}}">
      <i class="fa fa-twitter-square fa-2x"></i>
  </a>
  <a ng-show="$ctrl.multinational.linkedin"
     href="http://www.linkedin.com/company/{{$ctrl.multinational.linkedin}}">
      <i class="fa fa-linkedin-square fa-2x"></i>
  </a>
</div>

<div class="row">
  <div id="details">

    <div class="col-lg-6">
      <label ng-show="$ctrl.multinational.headquarters" for="headquarters" class="col-xs-12">
        Headquarters:
        <p id="headquarters">{{$ctrl.multinational.headquarters}}</p>
      </label>
      <label ng-show="$ctrl.multinational.emea_hq" for="emea_hq" class="col-xs-12">
        EMEA HQ in Ireland:
        <p id="emea_hq">{{$ctrl.multinational.emea_hq ? 'Yes' : 'No'}}</p>
      </label>
      <label ng-show="$ctrl.multinational.local_office" for="local_office" class="col-xs-12">
        Irish Office Location:
        <p id="local_office">{{$ctrl.multinational.local_office}}</p>
      </label>
      <!--<label ng-show="$ctrl.multinational.restrictedContactOption" for="restrictedContactOption" class="col-xs-12">-->
        <!--Restricted contact option:-->
        <!--<p id="restrictedContactOption">-</p>-->
      <!--</label>-->
      <label ng-show="$ctrl.multinational.employees" for="employees" class="col-xs-12">
        Employees in Ireland:
        <p id="employees">{{$ctrl.multinational.employees}}</p>
      </label>

    </div>

    <div class="col-lg-6">
      <label ng-show="$ctrl.multinational.functions" for="functions" class="col-xs-12">
        Functions in Ireland:
        <p>
          <!--{{($ctrl.multinational.functions).join(', ')}}-->
          <span ng-repeat="functionCode in $ctrl.multinational.functions">
            {{functionCode | functionCodeToHuman}}{{$last ? ' ' : ','}}
          </span>
        </p>
      </label>
      <label ng-show="$ctrl.multinational.events_space" for="events_space" class="col-xs-12">
        Event space:
        <p id="events_space">{{$ctrl.multinational.events_space ? 'Yes' : 'No'}}</p>
      </label>
      <label ng-show="$ctrl.multinational.events_space_qualifiers" for="events_space_qualifiers" class="col-xs-12">
        Event space qualifiers:
        <p id="events_space_qualifiers">{{$ctrl.multinational.events_space_qualifiers}}</p>
      </label>
      <label ng-show="$ctrl.multinational.next_event" for="next_event" class="col-xs-12">
        Next event:
        <p id="next_event">{{$ctrl.multinational.next_event}}</p>
      </label>
    </div>

  </div>
</div>

<div class="row text-center">
  <div id="startup-packages">
    <h1>Start Up Packages</h1>
    <div class="row rounds">
      <div class="round" ng-repeat="round in $ctrl.multinational.startup_packages">
        <p>{{round}}</p>
      </div>
    </div>
  </div>
</div>
