<div class="row">
  <h2>Multinationals</h2>
</div>
<div class="row">
  <div class="pull-right">
    <p>
      <button ng-click="$ctrl.export()" class="btn btn-primary">Export</button>
      <a ui-sref="admin.multinationals.new" class="btn btn-primary">New Multinational</a>
    </p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Headquarters</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{deleted: multinational.deleted_at}" ng-repeat="multinational in $ctrl.multinationals">
      <td>
        <a ng-hide="multinational.deleted_at" ui-sref="admin.multinationals.edit({id: multinational.id})"><img
          ng-src="{{multinational.logo}}" alt="{{multinational.name}}" width="80" height="50"></a>
        <img ng-show="multinational.deleted_at" ng-src="{{multinational.logo}}" alt="{{multinational.name}}" width="80"
             height="50">
      </td>
      <td>
        <strong>
          <a ng-hide="multinational.deleted_at" ui-sref="admin.multinationals.edit({id: multinational.id})">{{multinational.name}}</a>
          <span ng-show="multinational.deleted_at">{{multinational.name}}</span>
        </strong>
        <p style="color:#acacac"><i>{{multinational.short_description}}</i> <a href="{{multinational.website}}"
                                                                               ng-show="multinational.website"><i
          class="fa fa-link"></i></a></p>

      </td>
      <td class="base">{{multinational.headquarters}}</td>
      <td class="base">{{multinational.status}}</td>
      <td class="actions">

        <div class="" ng-if="multinational.user_id">
          <span ng-hide="multinational.deleted_at">
            <a ui-sref="admin.multinationals.edit({id: multinational.id})"><i class="fa fa-2x fa-edit"></i></a>
            <a href="" ng-click="$ctrl.deleteMultinational(multinational.id)"><i class="fa fa-2x fa-trash"></i></a>
          </span>
          <span ng-show="multinational.deleted_at">
            <a href="" ng-click="$ctrl.restoreMultinational(multinational.id)"><i class="fa fa-2x fa-refresh"></i></a>
          </span>
        </div>

        <div class="" ng-if="!multinational.user_id">
          <a ng-if="!multinational.claimed_requested_by_current_user" ng-click="$ctrl.claimMultinational($event, multinational.id)" class="btn btn-xs btn-block btn-default">Claim</a>
          <a ng-if="multinational.claimed_requested_by_current_user" class="btn btn-xs btn-block btn-default" disabled>Requested</a>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
