<div class="container">
  <profile-overview entity="$ctrl.company"></profile-overview>
  <div class="row">
    <div id="details" class="col-md-offset-2">
      <div ng-show="$ctrl.company.acquisitions">
        <h4>Acquisitions:</h4>
        <p>{{$ctrl.company.acquisitions}}</p>
      </div>

      <div ng-show="$ctrl.company.headquarters">
        <h4>Headquarters:</h4>
        <p>{{$ctrl.company.headquarters}}</p>
      </div>

      <div ng-show="$ctrl.company.formerly_known_as">
        <h4>Formerly known as:</h4>
        <p>{{$ctrl.company.formerly_known_as}}</p>
      </div>

      <div ng-show="$ctrl.company.founders">
        <h4>Founders:</h4>
        <p>{{$ctrl.company.founders}}</p>
      </div>

      <div ng-show="$ctrl.company.founded">
        <h4>Founded:</h4>
        <p>{{$ctrl.company.founded}}</p>
      </div>

      <div ng-show="$ctrl.company.employees">
        <h4>Employees:</h4>
        <p>{{$ctrl.company.employees}}</p>
      </div>

      <div ng-show="$ctrl.company.funding_stage">
        <h4>Funding Stage:</h4>
        <p>{{$ctrl.company.funding_stage}}</p>
      </div>

      <div ng-show="$ctrl.company.funding_amount ">
        <h4>Total Funding:</h4>
        <p>{{$ctrl.company.funding_amount | shortFmt:0}}</p>
      </div>

      <div ng-show="$ctrl.company.geo_markets ">
        <h4>Target Markets:</h4>
        <p id="target-markets">
          <span ng-repeat="targetMarket in $ctrl.company.target_markets.split(',')">
            {{targetMarket | regionCodeToHuman}}{{$last ? ' ' : ','}}
          </span>
        </p>
      </div>

      <div ng-show="$ctrl.company.office_locations">
        <h4>Office Locations:</h4>
        <p ng-repeat="location in $ctrl.company.office_locations">{{location}}</p>
      </div>

      <div ng-show="$ctrl.company.business_model">
        <h4>Business Model:</h4>
        <p>{{$ctrl.company.business_model}}</p>
      </div>

      <div ng-show="$ctrl.company.product_stage">

        <h4>Product Stage:</h4>
        <p>{{$ctrl.company.product_stage}}</p>
      </div>

      <div ng-show="$ctrl.company.contact">

        <h4>Contact:</h4>
        <p>{{$ctrl.company.contact}}</p>
      </div>

      <div ng-show="$ctrl.company.company_stage">

        <h4>Company Stage:</h4>
        <p>{{$ctrl.company.company_stage}}</p>
      </div>

      <div ng-show="$ctrl.company.incubator">

        <h4>Incubator/Accelerator:</h4>
        <p>{{$ctrl.company.incubator}}</p>
      </div>

      <div ng-show="$ctrl.company.operational_status">

        <h4>Status:</h4>
        <p>{{$ctrl.company.operational_status}}</p>
      </div>

      <div ng-show="$ctrl.company.government_assistance">

        <h4>Government Assistance:</h4>
        <p>{{$ctrl.company.government_assistance}}</p>
      </div>

      <div ng-show="$ctrl.company.selling ">

        <h4>Selling already:</h4>
        <p>{{$ctrl.company.selling | booleanToHuman}}</p>
      </div>

      <div ng-show="$ctrl.company.looking_for">

        <h4>We're looking for:</h4>
        <p>{{$ctrl.company.looking_for}}</p>
      </div>

    </div>
  </div>
</div>


<div ng-show="$ctrl.company.funding_rounds" class="dsc-timeline">
  <div id="funding" class="container">

  <h2>Funding</h2>

    <div class="row" ng-repeat="round in $ctrl.company.funding_rounds">

      <div class="col-xs-3 col-sm-3 col-xs-offset-2 col-sm-offset-3 text-right">
        <span class="triangle-border right">{{round.date}}</span>
      </div>

      <div class="col-xs-2 col-sm-1">
        <div class="dsc-timeline-dot"></div>
        <div ng-show="(!$last || ($last && $first))" class="dsc-timeline-line"></div>
      </div>

      <div class="col-xs-4 col-sm-3text-left">
        <p>{{round.type}}</p>
        <p>{{round.amount}}</p>
      </div>

    </div>

  </div>
</div>
