<div class="panel panel-default">
  <div class="panel-heading">Custom Fields</div>
  <div class="row panel-body">
    <div class="col-md-6">
      <div class="form-group">
        <label for="custom-field-1">Custom Field 1:</label>
        <input ng-model="$ctrl.entity.custom_field_1" id="custom-field-1" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="custom-field-2">Custom Field 2:</label>
        <input ng-model="$ctrl.entity.custom_field_2" id="custom-field-2" class="form-control" type="text">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="custom-field-3">Custom Field 3:</label>
        <input ng-model="$ctrl.entity.custom_field_3" id="custom-field-3" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="custom-field-4">Custom Field 4:</label>
        <input ng-model="$ctrl.entity.custom_field_4" id="custom-field-4" class="form-control" type="text">
      </div>
    </div>
  </div>
</div>
