<div class="row">
  <h2>Open Claims</h2>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>User</th>
      <th>Entity</th>
      <th>Requested</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="claim in $ctrl.claims">
      <td>
        <strong>
          {{claim.user_requesting.first_name}} {{claim.user_requesting.last_name}}
        </strong>
        <p style="color:#acacac"><i>{{claim.user_requesting.email}}</i></a></p>
      </td>
      <td>
        <strong>
          {{claim.entity.name}}
        </strong>
        <p style="color:#acacac;text-transform: capitalize;"><i>{{claim.entity_type}}</i></a></p>
      </td>
      <td>
        {{claim.created_at | date:'medium'}}
      </td>
      <td>
        <a ng-click="$ctrl.approveClaim($event, claim.id)" class="btn btn-xs btn-success">Approve</a>
        <a ng-click="$ctrl.denyClaim($event, claim.id)" class="btn btn-xs btn-danger">Deny</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
