<div class="container">
  <profile-overview entity="$ctrl.investor" entity-type="investor"></profile-overview>
  <div class="block block-bordered-lg" style="padding-top:40px;padding-bottom:30px;">
    <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
      <blockquote class="pull-quote">
        <cite style="margin-top:0;">Insight</cite>
        <p style="margin-top:0px;font-size:26px;color:#e92a8b">
          Investor Overview
        </p>
      </blockquote>
    </div>
  </div>
  <div id="details" class="row text-center">
    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.exits_ipos">
      <div class="company-info-title">Exits/IPOs</div>
      <div class="company-info-value">{{$ctrl.investor.exits_ipos}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.headquarters">
      <div class="company-info-title">Headquarters</div>
      <div class="company-info-value">{{$ctrl.investor.headquarters}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.founders">
      <div class="company-info-title">Founders</div>
      <div class="company-info-value">
        <span ng-repeat="founder in $ctrl.investor.founders">
          <div ng-if="founder.linkedin"><a href="https://www.linkedin.com/in/{{founder.linkedin}}" target="_blank">{{founder.name}}</a></div>
          <div ng-if="!founder.linkedin">{{founder.name}}</div>
        </span>
      </div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.founded">
      <div class="company-info-title">Founded</div>
      <div class="company-info-value">{{$ctrl.investor.founded}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.funds_raised">
      <div class="company-info-title">Funds Raised</div>
      <div class="company-info-value">${{$ctrl.investor.funds_raised}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.funding_types">
      <div class="company-info-title">Type of Funding</div>
      <div class="company-info-value">{{$ctrl.investor.funding_types | fundingCodeToHuman : 'array' }}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.deal_structure">
      <div class="company-info-title">Deal Structure</div>
      <div class="company-info-value">{{$ctrl.investor.deal_structure}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.investment_size">
      <div class="company-info-title">Investment Size</div>
      <div class="company-info-value">{{$ctrl.investor.investment_size}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.office_locations">
      <div class="company-info-title">Office Locations</div>
      <div class="company-info-value">
        <p ng-repeat="office in $ctrl.investor.office_locations">{{office.address}}</p>
      </div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.contact">
      <div class="company-info-title">Contact</div>
      <div class="company-info-value">{{$ctrl.investor.contact}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.contact_email">
      <div class="company-info-title">Contact Number</div>
      <div class="company-info-value">{{$ctrl.investor.contact_email}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.preferred_contact">
      <div class="company-info-title">Preferred Contact</div>
      <div class="company-info-value">{{$ctrl.investor.preferred_contact}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.investor.co_investors">
      <div class="company-info-title">Co-Investors</div>
      <div class="company-info-value">{{$ctrl.investor.co_investors}}</div>
    </div>

  </div>

  <div ng-show="!!$ctrl.investor.office_locations.length > 0" class="portfolio">
    <div class="block block-bordered-lg" style="padding:40px 0;">
      <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
        <blockquote class="pull-quote">
          <cite style="margin-top:0;">Locations</cite>
          <p style="margin-top:0px;font-size:26px;color:#e92a8b">
            Map View
          </p>
        </blockquote>
      </div>
    </div>
    <div class="m-b-lg">
      <ng-map zoom-to-include-markers="auto" maximum-zoom="16">
        <marker id='ol{{officeLocation.id}}'
                position="[{{officeLocation.lat}}, {{officeLocation.lng}}]"
                ng-repeat="officeLocation in $ctrl.investor.office_locations"
                on-click="$ctrl.showOfficeLocationDetail(officeLocation)" />

        <info-window id="foo-iw">
          <div ng-non-bindable="">
            {{$ctrl.officeLocation.address}}<br/>
            <a ng-if="$ctrl.investor.office_locations.length > 1"
               href=""
               ng-click="$ctrl.zoomTo()">
               Zoom to location
            </a>
          </div>
        </info-window>
      </ng-map>
    </div>
  </div>

</div>

<div ng-show="!!$ctrl.investor.portfolio.length" class="portfolio">
  <div class="container">
    <div class="row">
      <h2 class="col-md-2">Irish Portfolio Companies</h2>
      <div class="col-md-10 row">
        <div class="tile col-md-6" ng-repeat="company in $ctrl.investor.portfolio">
          <h3>{{company.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-bordered-lg" style="padding:40px 0;">
  <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
    <blockquote class="pull-quote">
      <cite style="margin-top:0;">Investments</cite>
      <p style="margin-top:0px;font-size:26px;color:#e92a8b">
        Irish Company Investments
      </p>
    </blockquote>
  </div>
</div>

<div class="container">
  <div class="row m-b-md">
    <div class="col-md-3 col-sm-6 result-item">
      <a href="/#/company/1" class="no-decoration">
        <div class="panel panel-default" style="border-bottom: 5px solid #e92a8b;">
          <div class="panel-body result-item-panel">
            <img ng-src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,w_250,h_140/v1455114908/tmpxdogqv3vysbaww9g3.png" class="logo img-responsive" style="margin: 10px auto;">
            <h2 id="mustard-item" class="text-left name lead" style="margin-bottom:0;margin-top:30px;font-size:22px;font-weight:300;">Mustard</h2>
            <p class="text-left short-desc" style="font-size:16px;font-weight:300;margin-bottom:0;color:#999999;">
              The on demand staffing network
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 result-item">
      <a href="/#/company/9" class="no-decoration">
        <div class="panel panel-default" style="border-bottom: 5px solid #e92a8b;">
          <div class="panel-body result-item-panel">
            <img ng-src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,w_250,h_140/v1417090159/umtr465tbqnet3z9t3sx.png" class="logo img-responsive" style="margin: 10px auto;">
            <h2 id="mustard-item" class="text-left name lead" style="margin-bottom:0;margin-top:30px;font-size:22px;font-weight:300;">PageFair</h2>
            <p class="text-left short-desc" style="font-size:16px;font-weight:300;margin-bottom:0;color:#999999;">
              Adblocking will cost more than US$6 billion in 2014. PageFair allows websites to recover some of this lost revenue.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 result-item">
      <a href="/#/company/1" class="no-decoration">
        <div class="panel panel-default" style="border-bottom: 5px solid #e92a8b;">
          <div class="panel-body result-item-panel">
            <img ng-src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,w_250,h_140/v1397752755/f03a27e49c1560c29f3521d5926d163f.jpg" class="logo img-responsive" style="margin: 10px auto;">
            <h2 id="mustard-item" class="text-left name lead" style="margin-bottom:0;margin-top:30px;font-size:22px;font-weight:300;">Trustev</h2>
            <p class="text-left short-desc" style="font-size:16px;font-weight:300;margin-bottom:0;color:#999999;">
              Trustev increases sales and stops fraud for e-commerce and financial companies.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 result-item">
      <a href="/#/company/1" class="no-decoration">
        <div class="panel panel-default" style="border-bottom: 5px solid #e92a8b;">
          <div class="panel-body result-item-panel">
            <img ng-src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,w_250,h_140/v1415669358/cfx78b8ybfao4orxttaa.png" class="logo img-responsive" style="margin: 10px auto;">
            <h2 id="mustard-item" class="text-left name lead" style="margin-bottom:0;margin-top:30px;font-size:22px;font-weight:300;">Logentries</h2>
            <p class="text-left short-desc" style="font-size:16px;font-weight:300;margin-bottom:0;color:#999999;">
              Real time log and analytics
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
