<div class="container">

  <profile-overview entity="$ctrl.investor"></profile-overview>

  <div class="row">
    <div id="details" class="col-md-offset-2">
        <div ng-show="$ctrl.investor.exits_ipos">
          <h4>Exits/IPOs:</h4>
          <p>{{$ctrl.investor.exits_ipos}}</p>
        </div>
        <div ng-show="$ctrl.investor.headquarters">
          <h4>Headquarters:</h4>
          <p>{{$ctrl.investor.headquarters}}</p>
        </div>
        <div ng-show="$ctrl.investor.founders">
          <h4>Founders:</h4>
          <p ng-repeat="founder in $ctrl.investor.founders">{{founder.name}}</p>
        </div>
        <div ng-show="$ctrl.investor.founded">
          <h4>Founded:</h4>
          <p>{{$ctrl.investor.founded}}</p>
        </div>
        <div ng-show="$ctrl.investor.funds_raised">
          <h4>Funds Raised:</h4>
          <p>${{$ctrl.investor.funds_raised}}</p>
        </div>
        <div ng-show="$ctrl.investor.funding_types">
          <h4>Type of Funding:</h4>
          <p>{{$ctrl.investor.funding_types | fundingCodeToHuman : 'array' }}</p>
        </div>
        <div ng-show="$ctrl.investor.funding_amount">
          <h4>Investment Size</h4>
          <p>{{$ctrl.investor.investment_size}}</p>
        </div>
        <div ng-show="$ctrl.investor.regions">
          <h4>Regions:</h4>
          <p>{{$ctrl.investor.regions}}</p>
        </div>
        <div ng-show="$ctrl.investor.office_locations">
          <h4>Office Locations:</h4>
          <p ng-repeat="office in $ctrl.investor.office_locations">{{office}}</p>
        </div>
        <div ng-show="$ctrl.investor.contact">
          <h4>Contact:</h4>
          <p>{{$ctrl.investor.contact}}</p>
        </div>
        <div ng-show="$ctrl.investor.contact_email">
          <h4>Contact Number:</h4>
          <p>{{$ctrl.investor.contact_email}}</p>
        </div>
        <div ng-show="$ctrl.investor.preferred_contact">
          <h4>Preferred Contact:</h4>
          <p>{{$ctrl.investor.preferred_contact}}</p>
        </div>
        <div ng-show="$ctrl.investor.co_investors">
          <h4>Co-Investors:</h4>
          <p>{{$ctrl.investor.co_investors}}</p>
        </div>
        <div ng-show="!!$ctrl.investor.board_members.length">
          <h4>Board Members:</h4>
          <p ng-repeat="member in $ctrl.investor.board_members">{{member}}</p>
        </div>
        <div ng-show="$ctrl.investor.similar_investors">
          <h4>Similar Investors:</h4>
          <p>{{$ctrl.investor.similar_investors}}</p>
        </div>
    </div>
  </div>
</div>

<div ng-show="!!$ctrl.investor.portfolio.length" class="portfolio">
  <div class="container">
    <div class="row">
      <h2 class="col-md-2">Irish Portfolio Companies</h2>
      <div class="col-md-10 row">
        <div class="tile col-md-6" ng-repeat="company in $ctrl.investor.portfolio">
          <h3>{{package.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
