<br/>
<uib-alert ng-show="$ctrl.loginFail" type="danger">There was a problem with your email or password. Please try again.</uib-alert>
<div class="row">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 text-center" style="margin-top:80px;">
    <a href="/" >
      <img src="assets/images/DSC-logo-inverted.png" style="height:100px;margin-bottom:40px;" >
    </a>
    <form class="form-signin" ng-submit="$ctrl.login()">
      <div class="form-group">
        <input ng-model="$ctrl.userCredentials.auth.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input ng-model="$ctrl.userCredentials.auth.password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </div>
        <div class="col-xs-6">
          <button ui-sref="userSignUp" class="btn btn-lg btn-default btn-block" type="button">Sign Up</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-block btn-social btn-lg btn-linkedin" style="text-align:center;padding-left:30px;margin-top: 15px;" ng-click="$ctrl.authenticate('linkedin')">
            <i class="fa fa-linkedin"></i>Sign In with LinkedIn
          </a>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12">
          <hr>
          <a ui-sref="userRequestPasswordReset">Forgot Password?</a>
        </div>
      </div>
    </form>
  </div>
</div>
