/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.multiselect-dropdown-button{
  text-align: left;
  padding: 6px 8px;
}

.multiselect-dropdown {
  padding-left: 30px;
  margin-bottom: 2em;

  label{
    text-transform: none;
    font-size: 1em;
  }
}
.filter-label {
  color: #aaaaaa;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:.05em;
}

.company-tile a {
  text-decoration: none;
  color:#000;
}

.company-tile a:hover {
  text-decoration: none;
  color:#000;
}

.app-block-footer a {
  color:#fff;
}
