/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.multiselect-dropdown-button{
  text-align: left;
  padding: 6px 8px;
}

.multiselect-dropdown {
  padding-left: 30px;
  margin-bottom: 2em;

  label{
    text-transform: none;
    font-size: 1em;
  }
}
.filter-label {
  color: #aaaaaa;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:.05em;
}

.company-tile a, .result-item a {
  text-decoration: none;
  color:#000;
}

.company-tile a:hover, .result-item a:hover {
  text-decoration: none;
  color:#000;
}

.app-block-footer a {
  color:#fff;
}

.result-item-panel {
  min-height:350px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #e92a8b;
  border-color: #e92a8b;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color:#000;
}

.pagination > li > a, .pagination > li > span {
  color:#000;
}
