<admin-overview entity="$ctrl.investor"></admin-overview>

<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="headquarters">Headquarters:</label>
          <input ng-model="$ctrl.investor.headquarters" id="headquarters" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="founded">Founded:</label>
          <input ng-model="$ctrl.investor.founded" id="founded" class="form-control" type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="local_office">Local Office:</label>
          <input ng-model="$ctrl.investor.local_office" id="local_office" class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact">Contact:</label>
          <input ng-model="$ctrl.investor.contact" id="contact" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact_email">Contact Email:</label>
          <input ng-model="$ctrl.investor.contact_email" id="contact_email" class="form-control" type="text">
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="preferred_contact">Preferred Contact:</label>
          <input ng-model="$ctrl.investor.preferred_contact" id="preferred_contact" class="form-control" type="text">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="funds_raised">Funds Raised:</label>
          <input ng-model="$ctrl.investor.funds_raised" id="funds_raised" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="exits_ipos">Exits/IPOs:</label>
          <input ng-model="$ctrl.investor.exits_ipos" id="exits_ipos" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="deal-structure">Deal Structure</label>
          <select ng-model="$ctrl.investor.deal_structure" id="deal-structure" class="form-control">
            <option></option>
            <option>Equity (Minority)</option>
            <option>Equity (Majority)</option>
            <option>Venture Debt</option>
            <option>Convertible Debt</option>
            <option>Mezzanine</option>
          </select>
        </div>

        <div class="form-group">
          <label>Type of Funding</label>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.fundingTypes.PS" type="checkbox" value="PS"> Pre-seed
            </label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.fundingTypes.S" type="checkbox" value="S"> Seed
            </label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.fundingTypes.SA" type="checkbox" value="SA"> Series A
            </label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.fundingTypes.SB" type="checkbox" value="SB"> Series B
            </label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.fundingTypes.SC" type="checkbox" value="SC"> Series C
            </label>
            <br/>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="investment_size">Investment Size:</label>
          <input ng-model="$ctrl.investor.investment_size" id="investment_size" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="co_investors">Co Investors:</label>
          <input ng-model="$ctrl.investor.co_investors" id="co_investors" class="form-control" type="text">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tags</div>
  <div class="row">
    <tags-input ng-model="$ctrl.tags"
                add-on-enter="false"
                on-tag-added="$ctrl.addTag($tag)"
                on-tag-removed="$ctrl.removeTag($tag)"
                min-tags="1">
      <auto-complete source="$ctrl.queryTags($query)"></auto-complete>
    </tags-input>
    <span ng-show="create.newTag.$invalid" class="label label-danger">At least 1 tag is required.</span>
  </div>
</div>

<custom-fields entity="$ctrl.investor"></custom-fields>

<div class="panel panel-default">
  <div class="panel-heading">
    Office Locations
    <a ng-click="$ctrl.addOfficeLocation()" class="btn btn-primary btn-sm pull-right">Add Location</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.investor.office_locations.length == 0">
      <p>There are no office locations.</p>
    </div>
    <div ng-if="$ctrl.investor.office_locations.length > 0" ng-repeat="location in $ctrl.investor.office_locations track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Location
          <a ng-click="$ctrl.removeOfficeLocation(location)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">

              <div class="form-group">
                <label for="location-address">Address</label>
                <input type="text" ng-model="location.address" id="location-address" class="form-control">
                </textarea>
              </div>

              <div class="form-group">
                <label for="location-lat">Latitude</label>
                <input type="text" ng-model="location.lat" id="location-lat" class="form-control">
                </textarea>
              </div>

              <div class="form-group">
                <label for="location-lng">Longitude</label>
                <input type="text" ng-model="location.lng" id="location-lng" class="form-control">
                </textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Founders
    <a ng-click="$ctrl.addFounder()" class="btn btn-primary btn-sm pull-right">Add Founder</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.investor.founders.length == 0">
      <p>There are no founders.</p>
    </div>
    <div ng-if="$ctrl.investor.founders.length > 0" ng-repeat="founder in $ctrl.investor.founders track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Founder
          <a ng-click="$ctrl.removeFounder(founder)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="package-name">Name</label>
                <input type="text" ng-model="founder.name" id="founder-name" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="founder-linkedin">LinkedIn</label>
                <input type="text" ng-model="founder.linkedin" id="founder-linkedin" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
