<div class="row">
  <h2>Investors</h2>
</div>
<div class="row">
  <div class="pull-right">
    <p>
      <a ui-sref="admin.investors.new" class="btn btn-primary">New Investor</a>
    </p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Headquarters</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{deleted: investor.deleted_at}" ng-repeat="investor in $ctrl.investors">
      <td>
        <a ng-hide="investor.deleted_at" ui-sref="admin.investors.edit({id: investor.id})"><img src="{{investor.logo}}" alt="{{investor.name}}" width="80" height="50"></a>
        <img ng-show="investor.deleted_at" src="{{investor.logo}}" alt="{{investor.name}}" width="80" height="50">
      </td>
      <td>
        <strong>
          <a ng-hide="investor.deleted_at" ui-sref="admin.investors.edit({id: investor.id})">{{investor.name}}</a>
          <span ng-show="investor.deleted_at">{{investor.name}}</span>
        </strong>
        <p style="color:#acacac"><i>{{investor.short_description}}</i> <a href="{{investor.website}}" ng-show="investor.website"><i class="fa fa-link"></i></a></p>

      </td>
      <td class="base">{{investor.headquarters}}</td>
      <td class="actions">
        <!--<button class="btn"><i class="fa fa-2x fa-edit"></button>-->
        <!--<button class="btn btn-danger"><i class="fa fa-2x fa-trash"></button>-->
        <span ng-hide="investor.deleted_at">
          <a ui-sref="admin.investors.edit({id: investor.id})"><i class="fa fa-2x fa-edit"></i></a>
          <a href="" ng-click="$ctrl.deleteInvestor(investor.id)"><i class="fa fa-2x fa-trash"></i></a>
        </span>
        <span ng-show="investor.deleted_at">
          <a href="" ng-click="$ctrl.restoreInvestor(investor.id)"><i class="fa fa-2x fa-refresh"></i></a>
        </span>

      </td>
    </tr>
    </tbody>
  </table>
</div>
