<div class="container">
  <profile-overview entity="$ctrl.hub" entity-type="hub"></profile-overview>
  <div class="block block-bordered-lg" style="padding-top:40px;padding-bottom:30px;">
    <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
      <blockquote class="pull-quote">
        <cite style="margin-top:0;">Insight</cite>
        <p style="margin-top:0px;font-size:26px;color:#e92a8b">
          Investor Overview
        </p>
      </blockquote>
    </div>
  </div>
  <div id="details" class="row text-center">

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.hub_type">
      <div class="company-info-title">Hub Type</div>
      <div class="company-info-value">
        <p id="hub-type">
          <span ng-repeat="hubType in $ctrl.hub.hub_type">
            {{hubType | hubTypeCodeToHuman}}{{$last ? ' ' : ','}}
          </span>
        </p>
      </div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.founded">
      <div class="company-info-title">Founded</div>
      <div class="company-info-value">{{$ctrl.hub.founded}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.contact">
      <div class="company-info-title">Contact</div>
      <div class="company-info-value">{{$ctrl.hub.contact}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.contact_detail">
      <div class="company-info-title">Contact Details</div>
      <div class="company-info-value">{{$ctrl.hub.contact_detail}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.funding_provided">
      <div class="company-info-title">Funding Provided</div>
      <div class="company-info-value">{{$ctrl.hub.funding_provided ? 'Yes' : 'No'}}</div>
    </div>

    <div class="col-md-4 m-b-md" ng-show="$ctrl.hub.programs && $ctrl.hub.application_deadline">
      <div class="company-info-title">Application Deadline</div>
      <div class="company-info-value">{{$ctrl.hub.programs}} - {{$ctrl.hub.application_deadline | date : "dd/MM/yyyy"}}</div>
    </div>
  </div>
</div>

<div ng-show="$ctrl.hub.lat && $ctrl.hub.lng" class="portfolio">
  <div class="container">
    <div class="block block-bordered-lg" style="padding:40px 0;">
      <div class="container text-center app-translate-15" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
        <blockquote class="pull-quote">
          <cite style="margin-top:0;">Locations</cite>
          <p style="margin-top:0px;font-size:26px;color:#e92a8b">
            Map View
          </p>
        </blockquote>
      </div>
    </div>
    <div class="m-b-lg">
      <ng-map zoom-to-include-markers="auto" maximum-zoom="16">
        <marker id='ol{{$ctrl.hub.id}}'
                position="[{{$ctrl.hub.lat}}, {{$ctrl.hub.lng}}]" />
      </ng-map>
    </div>
  </div>
</div>

<div ng-show="!!$ctrl.hub.alumni.length" class="alumni">
  <div class="container">
    <div class="row">
      <h2 class="col-md-2">Alumni</h2>
      <div class="col-md-10 company-list">
        <div ng-repeat="company in $ctrl.hub.alumni">
          <p>{{company.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
